Importing necessary libraries

In [30]:
from bs4 import BeautifulSoup 

import requests 

import csv

import pandas as pd

Selecting Columns of our dataset

In [42]:
products=[]
prices=[]
mrp=[]
discount=[]
features=[]

In [43]:
for i in range(1,3):
    url="https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page="+str(i)
    response = requests.get(url)
    htmlcontent = response.content
    soup = BeautifulSoup(htmlcontent,"html.parser")

    for a in soup.findAll('a',href=True, attrs={'class':'_1fQZEK'}):
      name=a.find('div',attrs={'class':'_4rR01T'})
      price=a.find('div',attrs={'class':'_30jeq3 _1_WHN1'})
      rating=a.find('div',attrs={'class':'_3LWZlK'})
      discounts = a.find('div',attrs={'class':'_3Ay6Sb'})
      max_price=a.find('div',attrs={'class':'_3I9_wc _27UcVY'})
      feature=a.find('div',attrs={'class':'fMghEO'})
      products.append(name.text)
      prices.append(price.text)
      features.append(feature.text)
      discount.append(discounts.text)
      mrp.append(max_price.text)
print(len(products))
print(len(prices))
print(len(mrp))
print(len(discount))
print(len(features))

48
48
48
0
48
48

Creating a dataset

In [44]:
data = {"Product_Name":products,'Price':prices, 'MRP':mrp,'Discount':discount,'features':features}
df=pd.DataFrame(data)
df.head()

,Product_Name,Price,MRP,Discount,features
0,Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...,"₹35,990","₹56,590",36% off,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...
1,HP Ryzen 3 Dual Core 3250U - (8 GB/256 GB SSD/...,"₹34,990","₹46,055",24% off,AMD Ryzen 3 Dual Core Processor8 GB DDR4 RAM64...
2,DELL Vostro Core i3 10th Gen - (8 GB/256 GB SS...,"₹34,990","₹43,312",19% off,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...
3,Lenovo Core i3 10th Gen - (8 GB/512 GB SSD/Win...,"₹37,990","₹62,190",38% off,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...
4,HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...,"₹42,490","₹51,748",17% off,Intel Core i3 Processor (11th Gen)8 GB DDR4 RA...

Adding Aditional information

In [45]:
df['Product_brand'] = df['Product_Name'].str.split(' ').str[0]
df.head()

,Product_Name,Price,MRP,Discount,features,Product_brand
0,Lenovo IdeaPad 3 Core i3 10th Gen - (8 GB/256 ...,"₹35,990","₹56,590",36% off,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...,Lenovo
1,HP Ryzen 3 Dual Core 3250U - (8 GB/256 GB SSD/...,"₹34,990","₹46,055",24% off,AMD Ryzen 3 Dual Core Processor8 GB DDR4 RAM64...,HP
2,DELL Vostro Core i3 10th Gen - (8 GB/256 GB SS...,"₹34,990","₹43,312",19% off,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...,DELL
3,Lenovo Core i3 10th Gen - (8 GB/512 GB SSD/Win...,"₹37,990","₹62,190",38% off,Intel Core i3 Processor (10th Gen)8 GB DDR4 RA...,Lenovo
4,HP Core i3 11th Gen - (8 GB/512 GB SSD/Windows...,"₹42,490","₹51,748",17% off,Intel Core i3 Processor (11th Gen)8 GB DDR4 RA...,HP

Removing the Sign ₹ and , for giving columns proper data types

In [46]:
df['MRP']=df['MRP'].str[1:]
df['MRP']=df["MRP"].str.replace("[,]","")

df['Price']=df['Price'].str[1:]
df['Price']=df["Price"].str.replace("[,]","")

C:\Users\DELL\AppData\Local\Temp/ipykernel_10660/1685861589.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['MRP']=df["MRP"].str.replace("[,]","")
C:\Users\DELL\AppData\Local\Temp/ipykernel_10660/1685861589.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Price']=df["Price"].str.replace("[,]","")

In [47]:
df['Price']=df['Price'].astype(int)
df['MRP']=df['MRP'].astype(int)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product_Name   48 non-null     object
 1   Price          48 non-null     int32
 2   MRP            48 non-null     int32
 3   Discount       48 non-null     object
 4   features       48 non-null     object
 5   Product_brand  48 non-null     object
dtypes: int32(2), object(4)
memory usage: 2.0+ KB

Exporting data set as .csv file

In [49]:
df.to_csv(Products.csv',header=True,index=False)